* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

#wrapper {
  background-color: rgb(178, 252, 236);
  max-width: 430px;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: auto;
}
